procurement_watchdog_analytics:
  target: dev_bq
  outputs:
    duckdb_local:
      type: duckdb
      path: procurement_watchdog_analytics.duckdb
      threads: 4
      schema: analytics
    dev_bq:
      type: bigquery
      method: oauth
      project: "{{ env_var('DBT_BIGQUERY_PROJECT') }}"
      dataset: "{{ env_var('DBT_BIGQUERY_DATASET', 'analytics_dev_janek') }}"
      threads: 4
      location: EU
      priority: interactive
    prod_bq:
      type: bigquery
      method: oauth
      project: "{{ env_var('DBT_BIGQUERY_PROJECT') }}"
      dataset: analytics
      threads: 4
      location: EU
      priority: interactive
